# EXPLORATORY DATA ANALYSIS

## Packages and Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2
from tensorflow.keras import backend as K

2024-11-09 21:45:10.262209: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-11-09 21:45:10.536456: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-11-09 21:45:10.636244: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-11-09 21:45:10.661112: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-11-09 21:45:10.837200: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-11-09 21:45:13.522681: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Data Analysis

In [2]:
# Train and test data from Tox21 dataset
x_train = pd.read_csv('data/tox21_dense_train.csv')
y_train = pd.read_csv('data/tox21_labels_train.csv')

x_test = pd.read_csv('data/tox21_dense_test.csv')
y_test = pd.read_csv('data/tox21_labels_test.csv')

In [3]:
x_train.head()

,Unnamed: 0,AW,AWeight,Arto,BertzCT,Chi0,Chi1,Chi10,Chi2,Chi3,...,W3D,W3DH,WNSA1,WNSA2,WNSA3,WPSA1,WPSA2,WPSA3,grav,rygr
0,NCGC00178831-03,5.436720e+07,13.053,2.176,3.194,23.112,15.868,1.496,15.127,12.592,...,2687.469,9241.018,115.371,-915.496,-39.983,290.078,2301.941,59.492,88.147,3.708
1,NCGC00166114-03,1.268818e+07,22.123,2.065,3.137,21.033,13.718,1.937,13.187,11.951,...,2184.384,3234.199,194.740,-1029.609,-34.205,235.360,1244.323,82.906,134.852,4.131
2,NCGC00263563-01,3.076932e+06,13.085,2.154,3.207,46.896,29.958,3.806,30.105,25.569,...,13803.524,76582.899,238.004,-4358.946,-106.537,868.685,15909.444,135.335,216.852,5.075
3,NCGC00013058-02,7.168569e+07,12.832,2.029,3.380,51.086,32.045,1.806,29.090,21.603,...,13807.345,50498.175,226.312,-2785.555,-61.923,763.288,9394.859,125.509,238.265,4.640
4,NCGC00167516-01,7.989702e+06,12.936,2.124,3.573,70.295,46.402,3.604,42.132,32.570,...,43231.286,163659.229,850.869,-21136.699,-367.122,1798.703,44681.209,362.168,317.901,7.845

In [4]:
# Check out the data
x_train.head()

print(f"(n_samples, d_features): {x_train.shape}")
print(f"{x_train.columns}")

(n_samples, d_features): (12060, 802)
Index(['Unnamed: 0', 'AW', 'AWeight', 'Arto', 'BertzCT', 'Chi0', 'Chi1',
       'Chi10', 'Chi2', 'Chi3',
       ...
       'W3D', 'W3DH', 'WNSA1', 'WNSA2', 'WNSA3', 'WPSA1', 'WPSA2', 'WPSA3',
       'grav', 'rygr'],
      dtype='object', length=802)

In [5]:
y_train.head()

print(f"(n_samples, m_tasks): {y_train.shape}")
print(f"{y_train.columns}")

(n_samples, m_tasks): (12060, 13)
Index(['Unnamed: 0', 'NR.AhR', 'NR.AR', 'NR.AR.LBD', 'NR.Aromatase', 'NR.ER',
       'NR.ER.LBD', 'NR.PPAR.gamma', 'SR.ARE', 'SR.ATAD5', 'SR.HSE', 'SR.MMP',
       'SR.p53'],
      dtype='object')

In [6]:
# Check missing values
print(f"Missing values in x_train: {x_train.isnull().sum().sum()}")
print(f"Missing values in y_train: {y_train.isnull().sum().sum()}")

# Check for missing values in test data
print(f"Missing values in x_test: {x_test.isnull().sum().sum()}")
print(f"Missing values in y_test: {y_test.isnull().sum().sum()}")

Missing values in x_train: 0
Missing values in y_train: 43238
Missing values in x_test: 0
Missing values in y_test: 791

In [7]:
x_train.describe()

,AW,AWeight,Arto,BertzCT,Chi0,Chi1,Chi10,Chi2,Chi3,Chi3c,...,W3D,W3DH,WNSA1,WNSA2,WNSA3,WPSA1,WPSA2,WPSA3,grav,rygr
count,1.206000e+04,12060.000000,12060.000000,12060.000000,12060.000000,12060.00000,12060.000000,12060.000000,12060.000000,12060.000000,...,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000,12060.000000
mean,4.219191e+06,14.510179,2.011927,2.546282,14.001534,9.01234,0.522415,8.201283,6.307590,1.600608,...,1248.363297,5293.483884,85.805640,-555.791432,-30.399123,186.128018,1238.731087,34.164007,123.783499,3.219006
std,1.175669e+07,4.787198,0.195923,0.435071,8.091058,5.32414,0.826746,5.153103,4.387759,1.331670,...,3180.775783,12823.738015,72.904885,1918.257248,36.252950,165.551810,3232.420359,33.984633,3842.918796,0.994193
min,1.000000e+00,11.366000,0.000000,0.301000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,1.206000,1.688000,0.000000,-120941.468000,-1235.074000,0.000000,0.000000,0.000000,1.594000,0.162000
25%,3.077000e+00,12.723000,1.941000,2.323000,8.552000,5.34300,0.000000,4.767000,3.288000,0.731000,...,203.316750,915.805250,43.300500,-544.346750,-36.667000,89.507000,236.484250,16.736500,21.649000,2.530000
50%,4.199000e+00,13.342000,2.000000,2.631000,12.466000,8.04100,0.217000,7.223000,5.439000,1.280000,...,550.826000,2236.311500,69.967500,-261.439000,-22.159000,146.220000,561.240000,26.911500,36.319500,3.142000
75%,6.609000e+00,14.583000,2.138000,2.853000,17.225250,11.30725,0.706000,10.426500,8.433500,2.070000,...,1290.369250,5515.172000,107.567750,-112.989250,-13.248500,234.616500,1259.678750,41.569000,57.437250,3.746000
max,1.000000e+08,151.466000,2.667000,3.776000,94.695000,63.00600,12.188000,59.172000,50.798000,19.852000,...,93581.972000,355470.488000,1366.650000,0.000000,0.000000,3353.749000,101675.928000,1391.785000,397154.560000,15.511000

## Feature Scaling

In [8]:
# Standard Deviation
std_scaler = StandardScaler()

# Fit the scaler on the training data
std_scaler.fit_transform(x_train.iloc[:, 1:])

print(x_train.describe())

                 AW       AWeight          Arto       BertzCT          Chi0  \
count  1.206000e+04  12060.000000  12060.000000  12060.000000  12060.000000
mean   4.219191e+06     14.510179      2.011927      2.546282     14.001534
std    1.175669e+07      4.787198      0.195923      0.435071      8.091058
min    1.000000e+00     11.366000      0.000000      0.301000      0.000000
25%    3.077000e+00     12.723000      1.941000      2.323000      8.552000
50%    4.199000e+00     13.342000      2.000000      2.631000     12.466000
75%    6.609000e+00     14.583000      2.138000      2.853000     17.225250
max    1.000000e+08    151.466000      2.667000      3.776000     94.695000

              Chi1         Chi10          Chi2          Chi3         Chi3c  \
count  12060.00000  12060.000000  12060.000000  12060.000000  12060.000000
mean       9.01234      0.522415      8.201283      6.307590      1.600608
std        5.32414      0.826746      5.153103      4.387759      1.331670
min        0.00000      0.000000      0.000000      0.000000      0.000000
25%        5.34300      0.000000      4.767000      3.288000      0.731000
50%        8.04100      0.217000      7.223000      5.439000      1.280000
75%       11.30725      0.706000     10.426500      8.433500      2.070000
max       63.00600     12.188000     59.172000     50.798000     19.852000

       ...           W3D           W3DH         WNSA1          WNSA2  \
count  ...  12060.000000   12060.000000  12060.000000   12060.000000
mean   ...   1248.363297    5293.483884     85.805640    -555.791432
std    ...   3180.775783   12823.738015     72.904885    1918.257248
min    ...      1.206000       1.688000      0.000000 -120941.468000
25%    ...    203.316750     915.805250     43.300500    -544.346750
50%    ...    550.826000    2236.311500     69.967500    -261.439000
75%    ...   1290.369250    5515.172000    107.567750    -112.989250
max    ...  93581.972000  355470.488000   1366.650000       0.000000

              WNSA3         WPSA1          WPSA2         WPSA3           grav  \
count  12060.000000  12060.000000   12060.000000  12060.000000   12060.000000
mean     -30.399123    186.128018    1238.731087     34.164007     123.783499
std       36.252950    165.551810    3232.420359     33.984633    3842.918796
min    -1235.074000      0.000000       0.000000      0.000000       1.594000
25%      -36.667000     89.507000     236.484250     16.736500      21.649000
50%      -22.159000    146.220000     561.240000     26.911500      36.319500
75%      -13.248500    234.616500    1259.678750     41.569000      57.437250
max        0.000000   3353.749000  101675.928000   1391.785000  397154.560000

               rygr
count  12060.000000
mean       3.219006
std        0.994193
min        0.162000
25%        2.530000
50%        3.142000
75%        3.746000
max       15.511000

[8 rows x 801 columns]

In [9]:
x_train.head()

,Unnamed: 0,AW,AWeight,Arto,BertzCT,Chi0,Chi1,Chi10,Chi2,Chi3,...,W3D,W3DH,WNSA1,WNSA2,WNSA3,WPSA1,WPSA2,WPSA3,grav,rygr
0,NCGC00178831-03,5.436720e+07,13.053,2.176,3.194,23.112,15.868,1.496,15.127,12.592,...,2687.469,9241.018,115.371,-915.496,-39.983,290.078,2301.941,59.492,88.147,3.708
1,NCGC00166114-03,1.268818e+07,22.123,2.065,3.137,21.033,13.718,1.937,13.187,11.951,...,2184.384,3234.199,194.740,-1029.609,-34.205,235.360,1244.323,82.906,134.852,4.131
2,NCGC00263563-01,3.076932e+06,13.085,2.154,3.207,46.896,29.958,3.806,30.105,25.569,...,13803.524,76582.899,238.004,-4358.946,-106.537,868.685,15909.444,135.335,216.852,5.075
3,NCGC00013058-02,7.168569e+07,12.832,2.029,3.380,51.086,32.045,1.806,29.090,21.603,...,13807.345,50498.175,226.312,-2785.555,-61.923,763.288,9394.859,125.509,238.265,4.640
4,NCGC00167516-01,7.989702e+06,12.936,2.124,3.573,70.295,46.402,3.604,42.132,32.570,...,43231.286,163659.229,850.869,-21136.699,-367.122,1798.703,44681.209,362.168,317.901,7.845